body {
    margin: 0;
    font-family: Arial;
    color: whitesmoke;
    width: 1000px;
}
.header {
    background-color: rgb(0, 53, 133);
    height: 70px;
}
.header h2 {
    color: whitesmoke;
    margin-left: -870px;
    padding-top: 10px;
    text-align: center;
}
a {
    color: whitesmoke;
    font-size: 16px;
    font-family: Arial;
    text-decoration: none;
}
a:hover {
    color: rgb(255, 198, 44);
    text-decoration: underline;
    transition: 0.3s;
}
.links {
    margin: -90px 0 0 340px;
    font-size: 65px;
}
.earth {
    height: 450px;
    margin-top: 1px;
    width: 1000px;
}
.super {
    font-size:40px;
    color: rgb(255, 198, 44);
    margin: -320px 0 0 50px;
}
.lorem {
    margin-left: 55px;
    width: 450px;
    margin-top: 5px;
}
.about {
    background-color: rgb(0, 18, 50);
    margin-top: 180.5px;
    height: 400px;
}
.intro, .pro, #watch {
    padding: 50px 0 0 50px;
    color: rgb(0, 18, 50);
    width: 650px;
}
#look {
    font-size: 40px; 
    color: rgb(0, 18, 50); 
    margin-left: 125px;
}
.footer {
    background: rgb(0, 18, 50);
    margin-top: 50px;
    height: 250px;
    padding: 25px;
}
.footer a {
    font-size: 19px;
    padding-left: 35px;
}
#links {
    margin-left: 375;
}
#SM {
    height: 20px;
    color: white;
    width: 20px;
    text-align: center;
    margin-top: 3px;
    padding: 3px 0 0 1px;
    border-radius: 15px;
}
#SM:hover {
    color: white;
    text-decoration: none;
}
.ack {
    margin: -270px 0 0 700px;
    width: 250px;
}